@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Libre+Caslon+Text:wght@400;700&family=Montserrat&display=swap');
#app a {
  color:#a00852;
  text-decoration: none;
}
.sans-serif {
  font-family: 'Montserrat', sans-serif;
}
.serif {
  font-family: 'Libre Caslon Text', serif;
}
.script {
  font-family: 'Libre Caslon Text', serif;
  font-size: 2rem;
}

@media (min-width: 992px) {
.login {
  display: flex;
  align-items: center;
  /* margin-top:15%; */
}
}
.imagery {
  background-image:url(/images/bg-image.png);
  background-size:cover;
  /* linear-gradient(orange, yellow, pink), 
  linear-gradient( to left, black, white); */
background-blend-mode:  
  overlay, multiply;
animation-duration: 5s;
animation-name: background-color-animation;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
  /* background-repeat:no-repeat;
  background-size:cover;
  background-color:rgba(254,158,86,1.0);
  background-blend-mode: overlay; */
}
main {
  margin-left:17rem;
  /* left:272px; */
  padding:15px;
  height:100vmin;
  position:relative;
  
}
@keyframes background-color-animation {
  from {
    background-color: #e44922;
  }

  to {
    background-color: #e0513b;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #fcf6d1;
}
.bg-cream {
  background-color: #fcf6d1;
}
.name a {
  color: #2c3e50 !important;
  text-decoration:none;
}
.name a:hover {
  text-decoration:underline !important;
}
textarea.addjoy  
{  
  font-family: 'Just Another Hand', cursive; 
  font-size: 2.5rem;
  color:#a00852 !important;
  padding: 1.0rem 1.25rem;
}

.card h1 {
  font-size:1.5rem;
  
}
#app {
 font-family: 'Montserrat', sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 height:100%;
}
.joys .card {
  background:rgba(256,256,256,.75);
  text-align:center;
  /* background: rgba(253, 210, 136, 0.2); */
  /* background:#f8e2a6; */
  /* background: rgb(247,243,208);
  background: linear-gradient(180deg, rgba(247,243,208,1) 0%, rgba(251,246,213,1) 100%); */
}
.bgorangegrad {
  background: rgb(244,121,35);
background: radial-gradient(circle, rgba(244,121,35,1) 11%, rgba(240,95,47,1) 100%);
color:white;
}
.bgorangegrad a.router-link-active {
  color:#fff !important;
  text-decoration:underline !important;
}
.bg-orangegradient {
  background:url('/images/decorative-bloom.png'),
  linear-gradient(180deg, rgba(254,158,86,1) 0%, rgba(253,242,175,1) 47%, rgba(253,242,175,1) 68%, rgba(253,206,136,1) 100%);
  background-size:contain;
  background-repeat:no-repeat;
}

.brandname {
  font-family: 'Libre Caslon Text', serif;
  color:#ea3a1c;
  font-weight:700 !important;
}
/** Side Nav **/
#sideNav .navbar-nav .nav-item .nav-link {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size:1.25rem;
  color:#a00852;
}
#sideNav .nav-item.nav-secondary {
  text-decoration:none;
  color:#a00852;
  padding-top:30%;
}
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

#sideNav a.router-link-exact-active,
#sideNav a.router-link-active {
  color:#ea532e !important;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    -webkit-box-shadow: 10px 0px 13px -4px rgba(58,3,30,0.22); 
box-shadow: 10px 0px 13px -4px rgba(58,3,30,0.22);
  }
  #sideNav .navbar-brand {
    display: flex;
    margin:100px auto 0;
    /* margin: auto auto 0; */
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
    margin-top:30%;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
/*Signup/Login/Logout Forms*/
.signup-form .form-control {
  min-height: 41px;
  box-shadow: none;
  border-color: #e6e6e6;
}
.signup-form .form-control:focus {
  border-color: #ea532e;
}

.btn {
  border-radius: 3px;
}
.signup-form {
  width: 425px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2 {
  color: #a00852;
  font-weight: bold;
  margin: 0 0 25px;
}
/* main .form-control {
  background:rgba(252,246,209,1.0);
} */
#viewjoys {
  margin-top:200px;
}
.scaleddown {transform: scale(.85);}
.scaledup { transform: scale(1.06);}
.scaledup h1 { font-size:2.0rem;}
.scaled.card h1 {
  font-size:2.0rem;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.03); }

.border-radius-8 {
  border-radius: 8px;
}
.bg-pink {
  background-color:#a00852;
}
.pink {
  color:#a00852;
}
.yelloworange {
  color:#ff8c00;
}
.orange {
  color:#ea532e;
}
.bgorange {
  background-color:#ff8c00;
  color: rgba(252,246,209,1.0)!important;
  /* background-color: #ffd68a; */
}
.offsetpaddingmargin {
  margin:-15px !important;
  padding:15px;
}
.bg-oggradient {
  background: rgb(244,121,35);
background: radial-gradient(circle, rgba(244,121,35,1) 11%, rgba(240,95,47,1) 100%);
}
.bgorange a {
  color: rgba(252,246,209,1.0)!important;
}
.pilledge a {
  color:white !important;
}
.pilledge {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  /* background-color:#ff8c00; */
  background: rgb(228,31,119);
  background: radial-gradient(circle, rgba(228,31,119,1) 11%, rgba(205,38,109,1) 100%);
  border-color:rgb(228,31,119) !important;
  font-weight:600 !important;
  font-size:1.3rem;
  line-height:1.3rem;
  color:white;
}
small {
  font-size:12px !important;
}
.pilledge:hover {
  background: rgb(244,121,35);
background: radial-gradient(circle, rgba(244,121,35,1) 11%, rgba(240,95,47,1) 100%);
}
.joys a:hover h1 {
  color:#ff8c00;
}
.joys .card {
  border-radius:2rem;
}
.joys .card-footer {
  background-color:transparent;
  border-top:none;
  /* background-color:#ff8c00;
  color:rgba(252,246,209,0); */
}
.banner {
  background: rgb(244,121,35);
background: radial-gradient(circle, rgba(244,121,35,1) 11%, rgba(240,95,47,1) 100%);
  /* background-color:#a00852; */
  margin:-15px !important;
  padding:15px;
  color:rgba(252,246,209,1.0);
}
.nopadding {
  padding:-15px !important;
}
.joyentry p {
  font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.0rem;
}
.bgtan {
  background:rgba(252,246,209,0.9);
}
.jjshadow {
  -webkit-box-shadow: 10px 0px 13px -4px rgba(58,3,30,0.22); 
  box-shadow: 10px 0px 13px -4px rgba(58,3,30,0.22);
}
.bgtan:hover {
  background:rgba(252, 246, 209, 1.0);
}
.signup-form form {
  margin-bottom: 15px;
  background:rgba(252,246,209,.9);
  /* border: 1px solid #f4f4f4; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 40px 50px;
  border-radius: 8px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 14px;
}
.signup-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.bgtan-gradient {
  background: rgba(253,206,136,1) 100%;
  /* background: linear-gradient(180deg, rgba(254,158,86,1) 0%, rgba(253,242,175,1) 47%, rgba(253,242,175,1) 68%, rgba(253,206,136,1) 100%); */
}
.btn-primary.btn-tan {
  background: linear-gradient(180deg, rgba(254,158,86,1) 0%, rgba(253,242,175,1) 47%, rgba(253,242,175,1) 68%, rgba(253,206,136,1) 100%);
}
.btn-primary {
  background: rgb(228,31,119);
  background: radial-gradient(circle, rgba(228,31,119,1) 11%, rgba(205,38,109,1) 100%);
  border-color:rgb(228,31,119) !important;
  font-weight:600 !important;
  font-size:1.5rem !important;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: rgb(228,31,119);
background: radial-gradient(circle, rgba(228,31,119,1) 11%, rgba(205,38,109,1) 100%);
  border: none;
  min-width: 140px;
}
.signup-form .btn:hover,
.signup-form .btn:focus,
.signup-form .btn:active {
  opacity:.95;
  background: rgb(244,121,35);
background: radial-gradient(circle, rgba(244,121,35,1) 11%, rgba(240,95,47,1) 100%);
}
.signup-form a {
  color: #00c1c0;
  text-decoration: none;
}
.signup-form a:hover {
  text-decoration: underline;
}
.moon {
  border-radius: 50%;
  height: 225px; 
  width:225px;
  background-color: #2badd9;
  float: right;
  shape-outside: inset(1% round 50%);
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top:20px;
}